h1{
    text-align: center;
    margin-top: 15px;
}
body{ 
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaKHyy_fsMHgrVV62ixy8kXSL2ORcCfOKkSQTsYWfFCA-hUEZr");
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    width: 15%;
    margin-left: 20%;
    margin-top: 15%;
    margin-right: 25%;
    margin-bottom: 20px;
    display : flex;
    justify-content:Space-between;
  }
}