h1{
    text-align: center;
    margin-top: 15px;
}
p{
    font-style: bold;
}
body{ 
    background-image: url("https://www.graphic.com.gh/images/2018/may/ghanaians_usa.png");
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    margin-right: 50px;
    margin-left: 50px;
    position: relative;
}
.jumbotron{
    text-align: center;
    padding: 30px;
}